@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-sans, "Geist"), "JetBrains Mono", system-ui, -apple-system, sans-serif;
}

code,
pre {
  font-family: var(--font-geist-mono, "JetBrains Mono"), "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 1 0 0;
    --foreground: 0.2101 0.0318 264.6645;
    --card: 1 0 0;
    --card-foreground: 0.2101 0.0318 264.6645;
    --popover: 1 0 0;
    --popover-foreground: 0.2101 0.0318 264.6645;
    --primary: 0.6716 0.1368 48.5130;
    --primary-foreground: 1 0 0;
    --secondary: 0.5360 0.0398 196.0280;
    --secondary-foreground: 1 0 0;
    --muted: 0.9670 0.0029 264.5419;
    --muted-foreground: 0.5510 0.0234 264.3637;
    --accent: 0.9491 0 0;
    --accent-foreground: 0.2101 0.0318 264.6645;
    --destructive: 0.6368 0.2078 25.3313;
    --destructive-foreground: 0.9851 0 0;
    --border: 0.9276 0.0058 264.5313;
    --input: 0.9276 0.0058 264.5313;
    --ring: 0.6716 0.1368 48.5130;
    --chart-1: 0.5940 0.0443 196.0233;
    --chart-2: 0.7214 0.1337 49.9802;
    --chart-3: 0.8721 0.0864 68.5474;
    --chart-4: 0.6268 0 0;
    --chart-5: 0.6830 0 0;
    --radius: 0.75rem;
    --sidebar-background: 0.9491 0 0;
    --sidebar-foreground: 0.2101 0.0318 264.6645;
    --sidebar-primary: 0.6716 0.1368 48.5130;
    --sidebar-primary-foreground: 1 0 0;
    --sidebar-accent: 0.9670 0.0029 264.5419;
    --sidebar-accent-foreground: 0.2101 0.0318 264.6645;
    --sidebar-border: 0.9276 0.0058 264.5313;
    --sidebar-ring: 0.7214 0.1337 49.9802;
  }
  .dark {
    --background: 0.1797 0.0043 308.1928;
    --foreground: 0.8109 0 0;
    --card: 0.1797 0.0043 308.1928;
    --card-foreground: 0.8109 0 0;
    --popover: 0.1797 0.0043 308.1928;
    --popover-foreground: 0.8109 0 0;
    --primary: 0.7214 0.1337 49.9802;
    --primary-foreground: 0.1797 0.0043 308.1928;
    --secondary: 0.5940 0.0443 196.0233;
    --secondary-foreground: 0.1797 0.0043 308.1928;
    --muted: 0.2520 0 0;
    --muted-foreground: 0.6268 0 0;
    --accent: 0.3211 0 0;
    --accent-foreground: 0.8109 0 0;
    --destructive: 0.5940 0.0443 196.0233;
    --destructive-foreground: 0.1797 0.0043 308.1928;
    --border: 0.2520 0 0;
    --input: 0.2520 0 0;
    --ring: 0.7214 0.1337 49.9802;
    --chart-1: 0.5940 0.0443 196.0233;
    --chart-2: 0.7214 0.1337 49.9802;
    --chart-3: 0.8721 0.0864 68.5474;
    --chart-4: 0.6268 0 0;
    --chart-5: 0.6830 0 0;
    --sidebar-background: 0.2520 0 0;
    --sidebar-foreground: 0.8109 0 0;
    --sidebar-primary: 0.7214 0.1337 49.9802;
    --sidebar-primary-foreground: 0.1797 0.0043 308.1928;
    --sidebar-accent: 0.3211 0 0;
    --sidebar-accent-foreground: 0.8109 0 0;
    --sidebar-border: 0.2520 0 0;
    --sidebar-ring: 0.7214 0.1337 49.9802;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
